@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/photo.png');
    background-repeat: no-repeat;
    max-width: 100%;
    height: 1024px;
    background-color: rgba(0, 0, 0, .3);
}

.logo {
    display: flex;
    padding-left: 125px;
    padding-top: 40px;

}

.logoPic {
    width: 64px;
    height: 56px;
    background-image: url('../img/logo.svg');
}

.logoText {
    width: 115px;
    height: 26px;
    padding-top: 12px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 400;
    /* Text style for "Waxom" */
    letter-spacing: -1.36px;
}

.logoMenu {
    margin-top: 17px;
    margin-left: 25%;
    height: 14px;
}

.logoMenu a {
    padding-left: 30px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.logoMenu a:hover {
    transition: all 0.5s;
    color: #c7b299;
}

.icons {
    margin-left: 63px;
    padding-top: 5px;
    display: inline;
}

.headerText {

    width: 589px;
    height: 156px;
    margin: 309px auto 0;
    text-align: center;
}

.fstP {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.sndP {
    margin-top: 14px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-weight: 800;
}

.thdP {
    margin-top: 19px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.headerText button {
    margin-top: 52px;
    width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    cursor: pointer;
}

.headerText span {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
}

.slideShow {
    width: 120px;
    height: 15px;
    margin: 350px auto 0;
}

.slideShow input {
    margin-left: 10px;
    height: 11px;
    background-color: #ffffff;
    opacity: 0.5;
}

.slideShow input:hover {
    transition: all 0.6s;
    transform: scale(1.3);
}

.loopRotate img:hover {
    transition: all 1s;
    transform: rotate(360deg);
}

.advantages {
    display: flex;
    width: 1166px;
    margin: 80px auto 80px;
}

.design {
    text-align: center;
    width: 266px;
    height: 213px;
    padding-bottom: 25px;
}

.development {
    text-align: center;
    width: 266px;
    height: 213px;
    padding-bottom: 25px;
}

.custom {
    text-align: center;
    width: 266px;
    height: 213px;
    padding-bottom: 25px;
}

.marketing {
    text-align: center;
    width: 266px;
    height: 213px;
    padding-bottom: 25px;
}


.textAdvF {
    margin-top: 28px;
}

.textAdvS {
    margin-top: 37px;
}

.textAdvT {
    margin-top: 33px;
}

.textAdvFr {
    margin-top: 41px;
}

.tAdv h2 {
    padding-bottom: 19px;
    color: #555555;
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 600;
    transition-duration: 0.4s;
}

.tAdv p {
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.hor {
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 30px auto 0;
    transition-duration: 0.4s;
}

.hline:hover .hor {

    background-color: #c7b299;
}

.hline:hover h2 {

    color: #c7b299;
}

.ideaReal {
    height: 692px;
    background-color: #fbfaf8;
}

.ideaTxt {
    padding-top: 83px;
    text-align: center;
}

.ideaTxt h2 {
    color: #555555;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 400;
}

.ideaTxt p {
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 24px;
}

.browserImgSide {
    display: flex;
    justify-content: center;
    margin-top: 122px;
}

.left {
    position: relative;
    z-index: 1;
}

.right {
    margin-left: -315px;
    position: relative;
    z-index: 2;
}

.centerImg {
    display: block;
    position: relative;
    z-index: 3;
    margin: -482px 0 0 30%;
}

.purchase {
    height: 130px;
    display: flex;
    background-image: url('../img/purchaseBg.png');
}

.purch_btn {
    width: 170px;
    height: 50px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    margin-left: 50%;
    margin-top: 39px;
    cursor: pointer;
}

.purch_btn p {
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
}

.purchTxt {
    margin: auto 0;
    padding-left: 125px;
}

.fstPar {
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 28px;
    font-weight: 400;
}

.fstPar span {
    color: #c7b299;
}

.purchStyle {
    color: #615855;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 300;
}

.lateProj {
    margin-top: 81px;
    text-align: center;
}

.lateText h2 {
    color: #555555;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 600;

}

.lateText p {
    width: 757px;
    margin: 24px auto 0;
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.lateChoose {
    margin-top: 40px;
}

.lateChoose input {
    cursor: pointer;
    margin-right: 10px;
    padding: 5px 20px;
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    border-radius: 3px;
}

.lateChoose input:hover {
    transition-duration: 0.4s;
    background-color: #998675;
    color: #ffffff;
}

.lateChoose input:focus {
    background-color: #998675;
    color: #ffffff;
}

.flexPics {
    width: 1170px;
    margin: 40px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.flexPic {
    width: 370px;
    height: 337px;
    margin: 30px 20px 0 0;
    position: relative;
}

.flexText {
    margin-top: -4px;
    width: 370px;
    height: 100px;
    background-color: #fbfaf8;
    padding: 30px 0 0 28px;
    transition: all 0.3s ease;
}

.flexText h2 {
    color: #c7b299;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
}

.flexText span {
    color: #d1d1d1;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.iconsFlex {
    display: flex;
}

.icnFlx {
    display: none;
}

.link {
    position: absolute;
    top: 110px;
    left: 144px;
}

.lupa {
    position: absolute;
    top: 110px;
    right: 144px;
}

.flexPic:hover .icnFlx {
    display: flex;
}

.flexImg {
    width: 370px;
    height: 237px;
    position: relative;
}

.blackDiv {
    width: 100%;
    height: 237px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

.blackDiv:hover {
    background: rgba(0, 0, 0, 0.603);
}

.flexPic:hover .flexText {
    background-color: #362f2d;
}

.flexPic:hover .flexText h2 {
    color: #ffffff;
}

.flexPic:hover .flexText span {
    color: #c7b299;
}

.proj_btn {
    width: 170px;
    height: 50px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    cursor: pointer;
    margin: 40px auto 0;
}

.proj_btn span {
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
}

.videoPres {
    margin-top: 100px;
    width: 100%;
    height: 705px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('../img/bgVideo.png');
    text-align: center;
}

.videoPres img {
    margin-top: 210px;
    width: 100px;
    height: 100px;
}

.presTxt h2 {
    margin-top: 44px;
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 500;
}

.presTxt p {
    margin-top: 29px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.presTxt .time {
    padding-top: 40px;
    color: #c7b299;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.mobDev {
    margin-top: 79px;
    display: flex;
    justify-content: center;
}

.mobText {
    padding-left: 30px;
    width: 690px;
}

.mobText h2 {
    margin-top: 116px;
    color: #555555;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 600;
}

.mobText p {
    margin-top: 40px;
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    height: 99px;
}

.mobText ul {
    padding-left: 65px;
    margin-top: 45px;
    list-style-image: url('../img/lst.png');
}

.mobText li {
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
}

.countDiv {
    margin-top: -5px;
    display: flex;
    height: 300px;
    background-image: url('../img/bgCount.png');
    justify-content: center;
}

.countPoints {
    text-align: center;
    margin-top: 69px;
    margin-right: 100px;
    width: 140px;
}

.countPoints h2 {
    margin-top: 30px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 200;
    line-height: 36px;
}

.countPoints p {
    margin-top: 21px;
    color: #c7b299;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.horline {
    margin: 0 auto;
    margin-top: 30px;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    transition-duration: 0.4s;
}

.countPoints:hover .horline {
    background-color: #c7b299;
}

.recent {
    margin-top: 82px;
}

.recentHeader {
    text-align: center;
}

.recentHeader h2 {
    color: #555555;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 600;
}

.recentHeader p {
    margin: 30px auto 0;
    width: 757px;
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}


.recentPics {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.recentPic {
    position: relative;
}

.recentImg {
    margin-left: 30px;
    width: 370px;
    height: 395px;
}

.recentTxt {
    margin-top: -4px;
    width: 370px;
    height: 175px;
    background-color: #fff;
    transition: all 0.4s ease;
}

.recentTxt h3 {
    padding-left: 29px;
    padding-top: 30px;
    color: #555555;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
}

.recentTxt p {
    padding-left: 29px;
    margin-top: 19px;
    width: 297px;
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.recentTxt a {
    padding-left: 29px;
    margin-top: 27px;
    text-decoration: none;
    color: #c7b299;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.recentBlack {
    width: 370px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 0.4s;
}

.recentBlack:hover {
    background: rgba(0, 0, 0, 0.603);
}

.recentImg:hover .recentTxt {
    transition-duration: 0.4s;
    background-color: #362f2d;
}

.recentImg:hover .recentTxt h3 {
    color: #c7b299;
}

.recentImg:hover .recentTxt p {
    color: #ffffff;
}

.arrowDiv {
    margin-top: 40px;
    text-align: center;
}

.nearFooter {
    padding-top: 160px;
    justify-content: center;
    display: flex;
    margin-top: 80px;
    height: 489px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/footerBg.png');
}

.logos {
    margin-right: 90px;
}

footer {
    justify-content: center;
    padding-top: 94px;
    display: flex;
    height: 508px;
    background-color: #191919;
}

.footelem {
    margin-left: 50px;
}

.logoDescr {
    width: 270px;
}

.footLogo {
    display: flex;
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
}

.footTxt p {
    margin-top: 30px;
    padding-bottom: 30px;
    color: #555555;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footTxt a {
    text-decoration: none;
    color: #d1d1d1;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.recPosts {
    width: 270px;
}

footer h2 {
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 600;
}

._fsp {
    color: #363636;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

._ssp {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

._frec {
    color: #555555;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

._srec {
    color: #c7b299;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.twilink {
    color: #00bff3;
}

.download {
    color: #868686;
}

.footTwit {
    width: 270px;
}

.footwidget {
    width: 280px;
}

.footelem h2 {
    padding-bottom: 30px;
}

.minPics {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.minPics img {
    padding: 5px;
}

.fmr {
    margin-bottom: 20px;
    margin-top: 10px;
}

.ssr {
    margin-bottom: 10px;
}

.mtr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.underFooter {
    text-align: center;
    height: 111px;
    background-image: url('../img/underFooter.png');
    color: #555555;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.fstyle {
    color: #959595;
}

.sideF {
    margin-right: 150px;
    text-align: center;
}